<div class="d-flex">
  <!-- Sidebar -->
  <nav class="bg-light border-end" style="width: 250px; height: 100vh;">
    <div class="p-3">
      <h4>Consulta App</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Ingreso Cédula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resultados" routerLinkActive="active">Resultados</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <router-outlet></router-outlet> -->
